@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
}

/* Side Menu Bar */
#menu {
    background: #1e1e1e;
    color: black;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .logo img {
    width: 40px;
    margin-right: 15px;
}

#menu .menu-links {
    width: 100%;
    margin-top: 50px;
}

#menu .menu-links .item {
    position: relative;
    cursor: pointer;
}

#menu .menu-links .item a {
    color: rgb(134, 141, 151);
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 50px;
}

#menu .menu-links .item:nth-child(2) {
    border-left: 4px solid #fff;
}

#menu .menu-links .item a:hover {
    color: #F3F4F6;
    background: #253047;
    transition: 0.3s ease;
}

#menu .menu-links .item i {
    margin-right: 15px;
}

#menu .menu-links .item i:hover {
    color: #F3F4F6;
    background: #253047;
}

#menu .menu-links .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 15px 20px;
    transition: 0.3s;
}

#menu .menu-links .item .sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

#menu .menu-links .item .sub-menu a {
    padding-left: 60px;
}

.logout form i {
    margin-right: 15px;
}

.logout form {
    color: rgb(134, 141, 151);
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 50px;
    cursor: pointer;
}

.logout form .logout-btn {
    color: rgb(134, 141, 151);
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
}

.logout form:hover,
.logout form .logout-btn:hover {
    color: #F3F4F6;
    background: #253047;
    transition: 0.3s ease;
}
hr{
    position: absolute;
    width: 100%;
    bottom: 10%;
}

/* Body Section */
#body-content{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}
#body-content .nav-section{
    width: calc(100% - 300px);
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #a29ae2;
    position: fixed;
}
#body-content .nav-section .profile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#body-content .nav-section .profile i{
    color: rgb(157, 157, 185);
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400;
    transition: 0.3s ease;
}
#body-content .nav-section i:hover {
    color: blue;
}
#body-content .nav-section .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.title{
    color: #444a53;
    padding: 0 0 20px 0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

#product-form {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
