@charset "UTF-8";
/* Side Menu */
#menu .menu-links ul li:nth-child(1){
    border-left: none;
}
#menu .menu-links ul li:nth-child(2){
    border-left: 4px solid #fff;
}

/* Body Section */

#body-content .change-password{
    position: relative;
    width: 400px;
    margin: 130px auto;
    background: rgb(216, 215, 215);
    border-radius: 20px;
    padding: 30px 30px;
}
#body-content .change-password .title{
    font-size: 30px;
    text-align: center;
}
#userForm input{
    width: 100%;
}
#userForm .button-container input{
    background: #0866ff;
    margin-top: 35px;
    height: 40px;
    width: 340px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 19px;
    text-align: center;
    font-weight: 600;
    transition: 0.3s;
}
#userForm .button-container input:hover{
    opacity: 0.8;
}
#oldPassword:focus, #newPassword:focus, #confirmPassword:focus{
    outline: 1px solid #0866ff;
}
.row .col-1{
	position: relative;
	display: inline-block;
}
.row .col-1 i,
.row .col-2 i,
.row .col-3 i {
    position: absolute;
    color: #959090;
}

.row .col-1 i {
    top: 50%; 
    right: 10px; 
}

.row .col-2 i {
    top: 50%; 
    right: 10px; 
}

.row .col-3 i {
    top: 50%; 
    right: 10px; 
}